
    <h2 class="text-center pt-4">User info</h2>
      <% if @user.errors.any? %>
      <h2 class="text-center pt-2"><%= @user.errors.count %> error prohibited this obj from being saved:</h2>
      <% @user.errors.full_messages.each do |message| %>
      <div class="col-md-8 offset-md-2">
      <li><%= message %></li>
      </div>
      <% end %>
      <% end %>
<div class="col-md-4 offset-md-4">
      <%= form_with model: @user, local:true do |f| %>
      <div class="form_group pt-2 pb-2">
      <p>Name</p>
      <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form_group pt-2 pb-2">
      <p>Image</p>
      <%= f.attachment_field :profile_image %>
      </div>
      <p>Introduction</p>
      <div class="form-group" >
      <%= f.text_area :introduction, rows: 5, class: "form-control" %>
      </div>
      <div class="text-center">
      <%= f.submit 'Update User', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>