<h2 class="text-center pt-4">Editing Book</h2>
<% if @book.errors.any? %>
<h2 class="text-center pt-2"><%= @book.errors.count %> error prohibited this obj from being saved:</h2>
  <% @book.errors.full_messages.each do |message| %>
  <div class="col-md-8 offset-md-2">
    <li><%= message %></li>
    </div>
  <% end %>
<% end %>
<div class="col-md-4 offset-md-4">
<%= form_with model:@book, local:true do |f| %>
<div class="form_group pt-2 pb-2">
  <p>Title</p>
  <%= f.text_field :title, class: "form-control"  %>
  </div>
  <div class="form_group pt-2 pb-0">
  <p>Opinion</p>
  <%= f.text_area :body, rows: 3, class: "form-control" %><br>
  </div>
  <div class="text-center">
  <%= f.submit 'Update Book', class: "btn btn-success"  %>
  </div>
<% end %>
<div class="form_group pt-4 pb-0">
<%= link_to "Show", book_path(@book.id), class: "btn btn-info btn-sm" %> | <%= link_to "Back", books_path, class: "btn btn-primary btn-sm" %>
</div>
</div>